.code-area {
	-fx-background-color: -fx-base;
	
	-fx-highlight-fill: derive(-fx-base, 35%);
	
	-fx-font-family: "Courier New";
	-fx-font-size: 11pt;
}

.status-bar {
	-fx-background-color: linear-gradient(to top, black, transparent), derive(-fx-base, 20%);
	-fx-background-insets: -12 0 0 0, 0;
}

.caret {
	-fx-stroke: white;
}

.lineno {
	-fx-background-color: transparent;
	-fx-padding: 0 16 0 10;
	
	-fx-font-family: "Courier New";
	-fx-font-size: 11pt;
}

.paragraph-box:has-caret {
    -fx-background-color: derive(-fx-base, 8%);
}

.tooltip {
	-fx-background-color: #bcc0c6;
	-fx-font-size: 9pt;
	-fx-padding: 7;
}

.tooltip-title {
	-fx-font-weight: bold;
	-fx-font-size: 10pt;
	-fx-fill: black;
}

.tooltip-content {
}

