.decoration-background
{
	-fx-fill: red;
}

.decoration-button-menu{
    -fx-background-image:url("/net/starkus/mipseditor/resources/icon_window.png");
}
.decoration-button-menu:hover{
    -fx-background-image:url("/net/starkus/mipseditor/resources/icon_window.png");
} 